services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - ./frontend:/frontend
      - ./frontend/static:/app/frontend/static
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:

