services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - ./frontend:/frontend
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:


# For Production (later):
# You should:

# Switch to Gunicorn or uWSGI
# Set DEBUG=False
# Use a reverse proxy like Nginx
# Enable HTTPS
# Set proper security headers